{% extends "layout/application.html" %}

{% block maincontent %}
<h1 class="Title align-center">Twitch Streammers TV</h1>
<form action="" class="Form">
  <div class="Form-group">
    <div class="Button-holder">
      <ul class="Button-items is-flex">
        <li class="Button-item">
          <button class="Btn Btn-action" id="button-all">All</button>
        </li>
        <li class="Button-item">
          <button class="Btn Btn-action" id="button-online">Online</button>
        </li>
        <li class="Button-item">
          <button class="Btn Btn-action" id="button-offline">Offline</button>
        </li>
      </ul>
    </div>

    <div class="Input-holder">
      <input type="search" class="Input-search" id="input-search" placeholder="Search in your channel">
    </div>
  </div>
</form>

<ul class="User-items" id="user-items">
</ul>
<div class="Error-search align-center is-hidden">
  <p id="error-search">This channel doesn't exist.</p>
</div>

{% endblock %}
