{% extends "layout/application.html" %}

{% block maincontent %}
<h1 class="Title align-center">Twitch Streammers TV</h1>
<form action="" class="Form">
  <ul class="Button-items is-flex">
    <li class="Button-item">
      <button class="Btn Btn-action" id="button-all">All</button>
    </li>
    <li class="Button-item">
      <button class="Btn Btn-action" id="button-online">Online</button>
    </li>
    <li class="Button-item">
      <button class="Btn Btn-action" id="button-offline">Offline</button>
    </li>
  </ul>
  <div class="Input-holder">
    <input type="search" class="Input-search" placeholder="Search in your channel">
  </div>
</form>

<ul class="User-items" id="user-items">
  <!-- <li class="User-item">
    <div class="is-flex flex-center-item">
      <div class="Avatar">
        <img src="images/logo.svg" alt="">
      </div>
      <div class="User-info">
        <p><a href="#" class="User-name" id="username"></a><span class="Status" id="status"></span></p>
        <p class="Game" id="game"></p>
      </div>
    </div>
  </li> -->
</ul>
{% endblock %}
