{% extends "layout/application.html" %}

{% block maincontent %}
<h1 class="Title align-center">Twitch Streammers TV</h1>
<form action="" class="Form">
  <ul class="Button-items is-flex">
    <li class="Button-item">
      <button class="Btn Btn-action">All</button>
    </li>
    <li class="Button-item">
      <button class="Btn Btn-action">Online</button>
    </li>
    <li class="Button-item">
      <button class="Btn Btn-action">Offline</button>
    </li>
  </ul>
  <div>
    <input type="search" class="Input-search" placeholder="Search in your channel">
  </div>
</form>

<ul class="User-items">
  <li class="User-item">
    <div class="is-flex flex-center-item">
      <div class="Avatar">
        <img src="http://lorempixel.com/50/50/" alt="">
      </div>
      <div class="User-info">
        <p><a href="#" class="User-info">User</a><span class="Status"> - Online</span></p>
        <span class="Closed-advice">Has closed their account</span>
        <p class="Canal">Game</p>
      </div>
    </div>
  </li>
</ul>
{% endblock %}
