.Btn {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background-color: transparent;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.25s;
}

.Btn-action {
  background-color: $secondary-color;
  color: white;

  &:hover {
    background-color: darken($secondary-color, 10);
  }
}

.Button-items {
  margin-bottom: 3rem;
  justify-content: center;

  @media screen and (min-width: 600px) {
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.Button-item {
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: 600px) {
    margin-right: 3rem;

    &:last-child {
      margin-right: 3rem;
    }
  }
}


