.User-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.User-item-padded {
  flex-basis: 100%;
  padding: 1rem;

  @media screen and (min-width: 600px) {
    flex-basis: 50%;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 33.3333%;
  }
}

.User-item {
  border-radius: 6px;
  height: 200px;
  padding: 1.5rem;
  position: relative;
}

.User-info {
  bottom: 10px;
  color: $white;
  font-size: 1.6rem;
  position: absolute;
}

.Closed-advice {
  display: none;
}

.Background-gradient {
  background: $font-color; /* Old browsers */
  background: -moz-linear-gradient(left, $font-color 0%, #dddddd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $font-color 0%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $font-color 0%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$font-color', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 */
}
